:root {
  --gradient: linear-gradient(
    90deg,
    orangered,
    darkorange,
    orange,
    darkorange,
    orangered
  );
}

body {
  background-color: black !important;
}

.canvas-body {
  background-image: var(--gradient);
  height: 500px;
  margin-top: 125px;
  margin-bottom: 200px;
}

.tsparticles-canvas-el {
  max-height: 500px;
}
